body {
    margin: 0;
    height: 600px;
    border: 1px solid blue;
}

.container {
    height: 550px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: 50px;
    background-color: grey;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

nav a {
    color: rgb(210, 225, 238);
    font-size: 25px;
}

nav a:hover {
    text-decoration: none;
    color: black;
}